@model BookStoreMVC.Models.VideoViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Video</h1>
<hr />
<div class="d-flex col justify-content-between">
        <div class="col-md-4">
            <form asp-action="Edit" asp-controller="Video" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VideoLink" class="control-label"></label>
                    <input asp-for="VideoLink" class="form-control" />
                    <span asp-validation-for="VideoLink" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ThumbnailURL" class="control-label"></label>
                    <input asp-for="ThumbnailURL" class="form-control" />
                    <span asp-validation-for="ThumbnailURL" class="text-danger"></span>
                </div>
                <input asp-for="PostedByUser" type="hidden">
                <br>
                <div class="d-flex flex-row justify-content-around gap-3">
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                    <div class="form-group">
                        <a asp-action="Delete" asp-controller="Video" asp-route-videoId="@Model.Id" class="btn btn-primary">Delete</a>
                    </div>
                    <div class="form-group">
                        <a class="btn text-black text-decoration-none flex-lg-nowrap" asp-action="Index">Back to List</a>
                    </div>
                </div>

            </form>

        </div>
    <div class="video-player">
        <iframe class="d-flex" height=400px width="700px" src="https://www.youtube.com/embed/@Model.VideoLink" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    </div>

   



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
